.notes-input {
  display: flex;
  align-items: center;
  /* position: absolute; */
  bottom: 0px;
  padding: 2px 10px;
  /* background-color: rgba(0, 70, 74, 0.379); */
  width: 100%;
}

.notes-input img {
  height: 2rem;
  width: 2rem;
}

.notes-input input {
  margin: 10px 20px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  max-lines: 5;
  border: none;
  width: 100%;
}
