.notes-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: white;
  width: 100%;
  background-color: aliceblue;
}

.notes-header p {
  font-size: 20px;
  font-weight: 600;
}

.notes-header img {
  height: 1rem;
  width: 1.2rem;
  display: none;
}

.logo {
  border-radius: 100%;
  padding: 15px;
  background-color: blue;
  color: white;
}

@media only screen and (max-width: 500px) {
  .notes-header img {
    display: block;
  }
}
